{% extends 'base.html' %}
{% block content %}

<div class="container bg-faded " >
    <div class="row">
 
        <div class="col-5 mx-auto " >
            <div class="card card-body mt-5 bg-light">

            	<form method="post" class="mx-auto" role="form">
            		{% csrf_token %}
            		{% for field in form %}

                      <label>{{ field.label_tag }}</label>

                      <input class="form-control" type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="id_{{ field.name }}" >

                      {% endfor %}
                      <button class="btn btn-outline-info mt-3" type="submit">Save Changes</button>
                      </form>

  			




            </div>
        </div>
    </div>
</div>

  

{% endblock %}